@import "~bootstrap/scss/bootstrap.scss";
.shadow-none{

text-align: justify;
text-align: center;
width: 350px;
margin-left: auto;
margin-right: auto;
}
body{
   background-image: url(https://difusoribero.files.wordpress.com/2020/07/festival.jpg);
    text-align: center;
    
   
}
.container{

width: 350px;

}
